{% extends 'base.html' %}

{% load static %}
{% block title %} 关于我们 {% endblock %}
{% block content %}


  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/team.png' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h5 class="title">ABOUT</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i>HOME</a></li>
              <li class="breadcrumb-item active" aria-current="page">ABOUT</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->


  
<!-- ****** About Us Area Start ******* -->
<section class="dento-about-us-area mt-0">
  <div class="container">
    <div class="row align-items-center">
      <!-- Title Content (Left Column) -->
      <div class="col-12 col-md-4">
        <div class="about-us-title mb-0">
          <h2 style="font-size: 2.5rem; text-align: left;">Your Trusted Partner in Transforming Spaces Into Stunning Works of Art</h2>
          <div class="line" style="margin: 10px 0;"></div>
        </div>
      </div>
      <!-- About Description (Right Column) -->
      <div class="col-12 col-md-8">
        <p style="font-size: 1.25rem; text-align: justify; margin: 0;">
          Welcome to Wanbang LLC. With over 10 years of experience, we specialize in delivering exceptional indoor and outdoor renovation services tailored to meet the unique needs of personal and commercial properties.

          Our indoor renovation expertise spans flooring, walls, bathrooms, kitchens, and full-room remodeling, ensuring every detail reflects quality craftsmanship and timeless design. For outdoor projects, we bring your vision to life with beautifully crafted sunrooms, decks, and backyard enhancements that elevate both functionality and aesthetics.

          At Wanbang LLC, we are dedicated to providing professional and personalized services that turn ideas into reality. Whether you’re enhancing your personal space or elevating your commercial property, our team is committed to delivering results that exceed expectations. Let us help you build your dream space—inside and out.
        </p>
      </div>
    </div>
  </div>
</section>
<br>
<br>


{% endblock %}